.product-contacts {
	background: #171313;
	&__item {
		a,
		button {
			color: #e4a90f;
		}
	}
}

@include media-tablet {
	.product-contacts {
		&__phone {
			-webkit-text-fill-color: #eae1e1;
			color: #eae1e1;
		}
	}
}
