.product-contacts {
	background: #f0f0f0;
	&__item {
		a,
		button {
			color: #e4a90f;
		}
	}
}

@include media-tablet {
	.product-contacts {
		&__phone {
			-webkit-text-fill-color: #100c0c;
			color: #100c0c;
		}
	}
}
