section.index-main#index-main
  .index-main__cover
      img(src="assets/img/uploads/index-main-bg.jpg", alt="")
  .container
    .index-main__content
      h1 Все квесты и VR арены в Иркутске!
      .index-main__group
        button.btn.index-main__btn(data-goto=".catalog" data-tabs-button="quest" data-title="Все квесты") Выбрать квест
        button.btn.btn-outline.index-main__btn(data-goto=".catalog" data-tabs-button="arena" data-title="Все VR арены") Выбрать VR арену
    button(data-goto=".recommendation").index-main__scroll
