section.recommendation
  .container
    .recommendation__head
      h3.title.recommendation-title Чаще выбирают
    .recommendation-body
      include 02-recommendation-card
      include 02-recommendation-card
    .recommendation-footer
      btn.btn.btn-outline.recommendation-footer__btn Посмотреть все
