section.feedbacks
  .container
    .feedbacks-header
      h3.title Подборка последних отзывов
      p.descr Выбрать подходящий для вас квест и VR игру в Иркутске — непросто. Опытные игроки и новички оставляют отзывы и рассказывают о плюсах и минусах каждой комнаты.
    .feedbacks-slider
      .swiper-wrapper
        .swiper-slide
          .feedbacks-item
            .feedbacks-item__header
              .feedbacks-item__title
                p Квест:
                h4 Зеркало
              .feedbacks-item__raiting
                span Рейтинг
                p 9,9 из 10
            .feedbacks-item__content
              .feedbacks-item__text
                p Было очень интересно и страшно. Один из самых страшных квестов которые мы посещали в Иркутске. Правда мы прошли квест за 60 минут, но это не критично. Пугают очень резко и неожиданно. Вобщем, квест классный, всем советую.
            .feedbacks-item__author
              .feedbacks-item__photo
                img(src="assets/img/uploads/photo-1.jpg", alt="")
              .feedbacks-item__label
                h4 Алла П. (гуру)
                p 14 дней назад
        .swiper-slide
          .feedbacks-item
            .feedbacks-item__header
              .feedbacks-item__title
                p Квест:
                h4 В Темноте
              .feedbacks-item__raiting
                span Рейтинг
                p 9,9 из 10
            .feedbacks-item__content
              .feedbacks-item__text
                p Квест отличный, необычный, интересный, все очень понравилось и коллектив и сама игра. В полной темноте, конечно очень сложно функционировать, но нашей команде удалось и что самое необычное что при свете все совсем по другому, игра разума решение необычных задач. Очень, понравилось, спасибо огромное, особенно ведущей. Мы обязательно придем на идеальное свидание В Темноте
              a(href="#").feedbacks-item__link Читать полностью
            .feedbacks-item__author
              .feedbacks-item__photo
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="25" cy="16.9998" rx="5.33333" ry="5.33333" />
                  <path d="M35.6666 32.3335C35.6666 35.6472 35.6666 38.3335 25 38.3335C14.3333 38.3335 14.3333 35.6472 14.3333 32.3335C14.3333 29.0198 19.1089 26.3335 25 26.3335C30.891 26.3335 35.6666 29.0198 35.6666 32.3335Z"/>
                  </svg>
              .feedbacks-item__label
                h4 Вероника П. (гуру)
                p 29 дней назад
        .swiper-slide
          .feedbacks-item
            .feedbacks-item__header
              .feedbacks-item__title
                p Квест:
                h4 Побочный эффект
              .feedbacks-item__raiting
                span Рейтинг
                p 9,9 из 10
            .feedbacks-item__content
              .feedbacks-item__text
                p Мы решили открыть для себя новые ощущения, посетив квест "Шепот". Первым хорошим впечатлением стала администратор ,который объяснил всё досконально, внимательно выслушав инструктаж, мы погрузились в атмосферу квеста игры. Шепот вызвал бурю эмоций и выброс адреналина, очень сильно благодарим организацию за то, что в нашем Иркутске есть такие квесты
              a(href="").feedbacks-item__link Читать полностью
            .feedbacks-item__author
              .feedbacks-item__photo
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <ellipse cx="25" cy="16.9998" rx="5.33333" ry="5.33333" />
                  <path d="M35.6666 32.3335C35.6666 35.6472 35.6666 38.3335 25 38.3335C14.3333 38.3335 14.3333 35.6472 14.3333 32.3335C14.3333 29.0198 19.1089 26.3335 25 26.3335C30.891 26.3335 35.6666 29.0198 35.6666 32.3335Z"/>
                  </svg>

              .feedbacks-item__label
                h4 Владислав Ч. (гуру)
                p 20 дней назад
        .swiper-slide
          .feedbacks-item
            .feedbacks-item__header
              .feedbacks-item__title
                p Квест:
                h4 Побочный эффект
              .feedbacks-item__raiting
                span Рейтинг
                p 9,9 из 10
            .feedbacks-item__content
              .feedbacks-item__text
                p Мы решили открыть для себя новые ощущения, посетив квест "Шепот". Первым хорошим впечатлением стала администратор ,который объяснил всё досконально, внимательно выслушав инструктаж, мы погрузились в атмосферу квеста игры. Шепот вызвал бурю эмоций и выброс адреналина, очень сильно благодарим организацию за то, что в нашем Иркутске есть такие квесты
              a(href="").feedbacks-item__link Читать полностью
            .feedbacks-item__author
              .feedbacks-item__photo
                img(src="assets/img/uploads/photo-1.jpg", alt="")
              .feedbacks-item__label
                h4 Владислав Ч. (гуру)
                p 20 дней назад
      .slider-scrollbar._fedbacks-scrollbar
