section.about
  .about-block
    .container
      .about-block__image
        img(src="assets/img/uploads/about-1.jpg", alt="")
        img(src="assets/img/uploads/about-2-1.png", alt="")
      .about-block__content
        h2 Что такое квесты
        .descr
          p Квесты в Иркутске стали очень популярным видом развлечения.
          p Суть и смысл игры заключается в том, что ваша команда закрывается в тематической квест комнате, из которой вам необходимо успеть выбраться за определённое количество времени. Сделать это возможно, только разгадав загадки и выполнив различные задания.
        button.btn.btn-outline.index-main__btn(data-goto=".catalog" data-tabs-button="quest" data-title="Все квесты") Выбрать квест
  .about-block_2
    .container
      .about-block_2__content
        h2 Что такое VR арена
        .descr
          p Первая в Иркутске арена виртуальной реальности с многоуровневым передвижением.
          p Совместные игры от 2 до 18 игроков рекомендуются школьникам, студентами и взрослым без ограничений по возрасту.это возможно, только разгадав загадки и выполнив различные задания.
        button.btn.btn-outline.index-main__btn(data-goto=".catalog" data-tabs-button="arena" data-title="Все VR арены") Выбрать VR арену
      .about-block_2__image
        img(src="assets/img/uploads/about-3.jpg", alt="")
        img(src="assets/img/uploads/about-4.jpg", alt="")
