article.news-card
  a.news-card__cover(href="#")
    img(src="assets/img/uploads/news-cover.jpg", alt="")
  .news-card__content
    h2.news-card__title
      a(href="#") Открыт новый квест в Иркутске
    .news-card__excert Мы открыли новый квест "Магический камень времени". Оборудование для него изготавливали лучшие производители в России. Локация получилась очень антуражной и интересной. Он работает в жанре приключение, идеально подойдет для детского дня рождения в квесте.
    .news-card__footer
      a.news-card__link(href="#") Читать подробнее
      span.news-card__date 11.06.2022
