header.header#header
  .header-top
    .container
      a.header-top__logo(href="index.html")
        img(src="assets/img/logo.svg", alt="")
        span Все квесты </br> города
      .header-top__contacts
        a.header-top__tel(href="tel:+73952931820") +7 (3952) 93-18-20
        button.btn.header-top__btn(data-popup="#orderPopup") Заказать звонок
        button.header-top__burger.main-page-burger
          span
          span
          span
  .header-bottom
    button.header-bottom__close
    .container
      nav.header-menu
        ul.header-menu__list
          li <a href="index.html"> Квест </a>
          li <a href="index.html"> VR арена </a>
          li <a href="404.html" class="icon icon-cup"> Народный рейтинг </a>
          li <a href="404.html"> Избранное </a>
          li <a href="404.html"> Отзывы </a>
          li <a href="news.html"> Новости </a>
          li <a href="404.html" class="popup-link"> Добавить квест </a>
      button.header-bottom__search <span>Поиск</span>
      .header-search
        form.header-search__form(action="#")
          input(type="search", name="search" placeholder="Введите название ")
          button.header-search__btn
      .header-footer
        a.header-top__tel(href="tel:+73952931820") +7 (3952) 93-18-20
        button.btn.header-top__btn(data-popup="#orderPopup") Заказать звонок
