header.header#header
  .header-top
    .container
      a.header-top__logo(href="#")
        img(src="assets/img/logo.svg", alt="")
        span Все квесты </br> города
      .header-top__contacts
        a.header-top__tel(href="tel:+73952931820") +7 (3952) 93-18-20
        button.btn.header-top__btn Заказать звонок
        button.header-top__burger.main-page-burger
          span
          span
          span
  .header-bottom
    button.header-bottom__close
    .container
      nav.header-menu
        ul.header-menu__list
          li <a href="#"> Квест </a>
          li <a href="#"> VR арена </a>
          li <a href="#" class="icon icon-cup"> Народный рейтинг </a>
          li <a href="#"> Избранное </a>
          li <a href="#"> Отзывы </a>
          li <a href="#"> Новости </a>
          li <a href="#" class="popup-link"> Добавить квест </a>
      a(href="#").header-bottom__search <span>Поиск</span>
      .header-search
        form.header-search__form(action="")
          input(type="search", name="" placeholder="Введите название ")
          button.header-search__btn
      .header-footer
        a.header-top__tel(href="tel:+73952931820") +7 (3952) 93-18-20
        button.btn.header-top__btn Заказать звонок
