<!-- = Оставить заявку -->
.popup#orderPopup
  .popup__content
    .popup__body
      button.popup__close
      h2.popup__title Заказать звонок
      p.popup__text Оставьте свои контактные данные, мы перезвоним в течение 30 минут
      .popup__form.form
        form(action="#")
          .form__content
            .form__item._input
              input(type="text" name="user-name" placeholder="Имя*" required)
            .form__item._input
              input(type="tel" name="user-tel" placeholder="+7 (999) 999-99-99*" required)
            .form__item._textarea
              textarea(name="user-detalis" placeholder="Возраст и количество игроков")
            .form__footer
              .form-checkbox
                input#policy(type="checkbox" name="user-policy")
                label(for="policy")
                  span Даю согласие на обработку <a href="#">персональных данных</a>
              button.btn.form__submit Отправить

<!-- = Добавить свой квест -->
.popup#addPostPopup
  .popup__content
    .popup__body
      button.popup__close
      h2.popup__title Добавить квест
      p.popup__text Вы можете добавить свой квест на сайт абсолютно бесплатно
      .popup__form.form
        form(action="#")
          .form__content
            .form__item._input
              input(type="text" name="user-name" placeholder="Имя*" required)
            .form__item._input
              input(type="tel" name="user-tel" placeholder="+7 (999) 999-99-99*" required)
            .form__item._input
              input(type="text" name="company-name" placeholder="Название компании")
            .form__item._input
              input(type="text" name="company-link" placeholder="Ссылка на квест")
            .form__footer
              .form-checkbox
                input#policy_1(type="checkbox" name="user-policy")
                label(for="policy_1")
                  span Даю согласие на обработку <a href="#">персональных данных</a>
              button.btn.form__submit Отправить

<!-- = Забронировать игру -->
.popup#bookingGamePopup
  .popup__content
    .popup__body
      button.popup__close
      h2.popup__title Бронировать игру
      p.popup__text Оставьте свои контактные данные, мы перезвоним в течение 30 минут
      .popup__form.form
        form(action="#")
          .form__content
            .form__item._input._max
              input(type="text" name="user-name" placeholder="Имя*" required)
            .form__item._input._max
              input(type="tel" name="user-tel" placeholder="+7 (999) 999-99-99*" required)
            .form__item._input._max
              input(type="datetime-local" name="user-date" placeholder="17.12.2022 15:30")
            .form__footer._center
              .form-checkbox
                input#policy_2(type="checkbox" name="user-policy")
                label(for="policy_2")
                  span Даю согласие на обработку <a href="#">персональных данных</a>
              button.btn.form__submit Отправить

<!-- = Добавить отзыв -->
.popup#bookingGamePopup
  .popup__content
    .popup__body
      button.popup__close
      h2.popup__title Добавить отзыв
      .popup__form.form.form--min
        form(action="#")
          .form__content._gap-big
            .form__item._max
              label.form__label(for="") Оценка
              .rating__group
                  input.rating__input(type="radio" name="health" id="health-1" value="1" checked)
                  label.rating__star(for="health-1" aria-label="Ужасно")

                  input.rating__input(type="radio" name="health" id="health-2" value="2")
                  label.rating__star(for="health-2" aria-label="Сносно")

                  input.rating__input(type="radio" name="health" id="health-3" value="3")
                  label.rating__star(for="health-3" aria-label="Нормально")

                  input.rating__input(type="radio" name="health" id="health-4" value="4")
                  label.rating__star(for="health-4" aria-label="Хорошо")

                  input.rating__input(type="radio" name="health" id="health-5" value="5")
                  label.rating__star(for="health-5" aria-label="Отлично")
                  .rating__focus
            .form__item._textarea
              label.form__label(for="") Описание отзыва
              textarea(name="user-detalis" placeholder="Введите текст")
            .form__item._input._max
              label.form__label(for="") Как вас зовут
              input(type="text" name="user-name" placeholder="Имя*" required)
            .form__item
              label.form__label(for="") Ваше фото
              .form-file
                input#myPhotoComment(type="file", name="user-photo"  accept="image/*")
                label.form-file__btn(for="myPhotoComment") Выберите файл
                span#myPhotoCommentInfo Файл не выбран
            .form__item
                label.form__label(for="") Кто вы
                .form-radio
                  .form-radio__item
                    input#Gure(type="radio" name="user-status")
                    label(for="Gure")
                      span Гуру
                  .form-radio__item
                    input#news(type="radio" name="user-status" checked)
                    label(for="news")
                      span Новичок
            .form__footer
              .form-checkbox
                input#policy_4(type="checkbox" name="user-policy")
                label(for="policy_4")
                  span Даю согласие на обработку <a href="#">персональных данных</a>
              button.btn.form__submit Отправить

<!-- = Посмотреть отзыв -->
.popup#feedbacksPopup
  .popup__content
    .popup__body
      button.popup__close
      .popup-slider#popup-slider
        .swiper-wrapper
          .swiper-slide(data-hash="slide1")
            .feedbacks-item.popup-slider__item
              .feedbacks-item__header
                .feedbacks-item__title
                  p Квест:
                  h4 В Темноте
                .feedbacks-item__raiting
                  span Рейтинг
                  p 9,9 из 10
              .feedbacks-item__content
                .feedbacks-item__text
                  p Квест отличный, необычный, интересный, все очень понравилось и коллектив и сама игра. В полной темноте, конечно очень сложно функционировать, но нашей команде удалось и что самое необычное что при свете все совсем по другому, игра разума решение необычных задач. Очень, понравилось, спасибо огромное, особенно ведущей. Мы обязательно придем на идеальное свидание В Темноте
                  p Квест отличный, необычный, интересный, все очень понравилось и коллектив и сама игра. В полной темноте, конечно очень сложно функционировать, но нашей команде удалось и что самое необычное что при свете все совсем по другому, игра разума решение необычных задач. Очень, понравилось, спасибо огромное, особенно ведущей. Мы обязательно придем на идеальное свидание В Темноте
              .feedbacks-item__author
                .feedbacks-item__photo
                  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="25" cy="16.9998" rx="5.33333" ry="5.33333" />
                    <path d="M35.6666 32.3335C35.6666 35.6472 35.6666 38.3335 25 38.3335C14.3333 38.3335 14.3333 35.6472 14.3333 32.3335C14.3333 29.0198 19.1089 26.3335 25 26.3335C30.891 26.3335 35.6666 29.0198 35.6666 32.3335Z"/>
                    </svg>
                .feedbacks-item__label
                  h4 Вероника П. (гуру)
                  p 29 дней назад
          .swiper-slide(data-hash="slide2")
            .feedbacks-item.popup-slider__item
              .feedbacks-item__header
                .feedbacks-item__title
                  p Квест:
                  h4 В Темноте
                .feedbacks-item__raiting
                  span Рейтинг
                  p 9,9 из 10
              .feedbacks-item__content
                .feedbacks-item__text
                  p Квест отличный, необычный, интересный, все очень понравилось и коллектив и сама игра. В полной темноте, конечно очень сложно функционировать, но нашей команде удалось и что самое необычное что при свете все совсем по другому, игра разума решение необычных задач. Очень, понравилось, спасибо огромное, особенно ведущей. Мы обязательно придем на идеальное свидание В Темноте
              .feedbacks-item__author
                .feedbacks-item__photo
                  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="25" cy="16.9998" rx="5.33333" ry="5.33333" />
                    <path d="M35.6666 32.3335C35.6666 35.6472 35.6666 38.3335 25 38.3335C14.3333 38.3335 14.3333 35.6472 14.3333 32.3335C14.3333 29.0198 19.1089 26.3335 25 26.3335C30.891 26.3335 35.6666 29.0198 35.6666 32.3335Z"/>
                    </svg>
                .feedbacks-item__label
                  h4 Вероника П. (гуру)
                  p 29 дней назад
          .swiper-slide(data-hash="slide3")
            .feedbacks-item.popup-slider__item
              .feedbacks-item__header
                .feedbacks-item__title
                  p Квест:
                  h4 В Темноте
                .feedbacks-item__raiting
                  span Рейтинг
                  p 9,9 из 10
              .feedbacks-item__content
                .feedbacks-item__text
                  p Квест отличный, необычный, интересный, все очень понравилось и коллектив и сама игра. В полной темноте, конечно очень сложно функционировать, но нашей команде удалось и что самое необычное что при свете все совсем по другому, игра разума решение необычных задач. Очень, понравилось, спасибо огромное, особенно ведущей. Мы обязательно придем на идеальное свидание В Темноте
              .feedbacks-item__author
                .feedbacks-item__photo
                  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="25" cy="16.9998" rx="5.33333" ry="5.33333" />
                    <path d="M35.6666 32.3335C35.6666 35.6472 35.6666 38.3335 25 38.3335C14.3333 38.3335 14.3333 35.6472 14.3333 32.3335C14.3333 29.0198 19.1089 26.3335 25 26.3335C30.891 26.3335 35.6666 29.0198 35.6666 32.3335Z"/>
                    </svg>
                .feedbacks-item__label
                  h4 Вероника П. (гуру)
                  p 29 дней назад
          .swiper-slide(data-hash="slide4")
            .feedbacks-item.popup-slider__item
              .feedbacks-item__header
                .feedbacks-item__title
                  p Квест:
                  h4 В Темноте
                .feedbacks-item__raiting
                  span Рейтинг
                  p 9,9 из 10
              .feedbacks-item__content
                .feedbacks-item__text
                  p Квест отличный, необычный, интересный, все очень понравилось и коллектив и сама игра. В полной темноте, конечно очень сложно функционировать, но нашей команде удалось и что самое необычное что при свете все совсем по другому, игра разума решение необычных задач. Очень, понравилось, спасибо огромное, особенно ведущей. Мы обязательно придем на идеальное свидание В Темноте
              .feedbacks-item__author
                .feedbacks-item__photo
                  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="25" cy="16.9998" rx="5.33333" ry="5.33333" />
                    <path d="M35.6666 32.3335C35.6666 35.6472 35.6666 38.3335 25 38.3335C14.3333 38.3335 14.3333 35.6472 14.3333 32.3335C14.3333 29.0198 19.1089 26.3335 25 26.3335C30.891 26.3335 35.6666 29.0198 35.6666 32.3335Z"/>
                    </svg>
                .feedbacks-item__label
                  h4 Вероника П. (гуру)
                  p 29 дней назад
        .slider-scrollbar._fedbacks-popup-scrollbar


<!-- = Посмотреть отзыв -->
.popup#ViewMapPopup
  .popup__content
    .popup__body
      button.popup__close
      .map
        .map__item
          #mapPopup
        .map__footer
          .map__content
            span Квест
            p#mapNameProduct
          .map__content
            span Адрес
            p#mapAddressProduct


<!-- = Окно успешной отправки формы -->
.popup#successForm
  .popup__content
    .popup__body
      button.popup__close
      h2.popup__title Брагодарим за заявку!
      p.popup__text В ближайшее время наш менеджер свяжется с вами для подтвеждения брони
      .form__footer._center
        button.btn.popup-close Закрыть окно
