section.news-header
  .container
    h1.title.news-header__title Открыт новый квест в Иркутске
    nav.breadcrumbs
      a.breadcrumbs__item(href="index.html") Главная
      a.breadcrumbs__item(href="#") Все новости
      span.breadcrumbs__item._current-page Открыт новый квест в Иркутске
