section.news-post
  .container
    .news-post__wrapper
      img(src="assets/img/uploads/news-cover.jpg", alt="")
      p Мы открыли новый квест "Магический камень времени". Оборудование для него изготавливали лучшие производители в России. Локация получилась очень антуражной и интересной. Он работает в жанре приключение, идеально подойдет для детского дня рождения в квесте.
    a.btn.btn-outline._icon-arrow(href="news.html")
      span Назад к новостям
