.theme-dark {
	$dark: #000000;
	$black: #100c0c;
	$black2: #171313;
	$black3: #282222;
	$black4: #342d2d;
	$black5: #1b1b22;
	$white: #ffffff;
	$whiteDark: #eae1e1;
	$icons: #757581;
	$gray: #c7c6cf;
	$yellow: #e4a90f;
	$yelloqDark: #966d03;
	$red: #ef544a;
	$redLinear: linear-gradient(180deg, #ef544a 7.81%, #c6251a 42.19%, #c6251a 42.2%);
}
