extends common/layout

block content
  main.content
    include includes/product/01-main
    include includes/product/02-navbar
    .container.product-page
      .product-page__content
        include includes/product/03-description
        include includes/product/04-slider
        include includes/product/05-prices
        include includes/product/06-feedbacks
      .product-page__contacts
        include includes/product/07-contacts
