.index-main {
	&::after {
		background: linear-gradient(180deg, rgba(16, 12, 12, 0) 84.58%, #100c0c 100%);
	}
	&__scroll {
		path {
			fill: #eae1e1;
		}
	}
}

@include media-mobile {
	.index-main {
		&__cover {
			&::after {
				background: linear-gradient(180deg, rgba(16, 12, 12, 0) 84.58%, #100c0c 100%);
			}
		}
	}
}
