.catalog {
	color: #100c0c;
}
.catalog-category {
	&__item {
		color: #100c0c;
		background: #e3e3e3;
	}
}
.catalog-filters {
	&__btn {
		&:hover {
			background: rgba(#e3e3e3, 0.4) url('../img/icons/Filter.svg') center center / 30px no-repeat;
		}
	}
	&__form {
		background: #f8f8f8;
		box-shadow: 0px 0px 15px rgba(113, 113, 113, 0.1);
	}
	&__item,
	.catalog-sorting {
		color: #100c0c;
		.select__value,
		input {
			background: #ebebeb;
		}
		.select._active {
			outline: 1px solid #ffffff;
		}
		input {
			color: #100c0c;
		}
	}
	&__row {
		.line {
			color: #e4a90f;
		}
	}

	&__clear {
		color: #757581;
		&:hover {
			color: #eae1e1;
		}
	}
}
