.catalog-category {
	&__item {
		background: #282222;
	}
}
.catalog-filters {
	&__btn {
		&:hover {
			background: rgba(#282222, 0.4) url('../img/icons/Filter.svg') center center / 30px no-repeat;
		}
	}
	&__form {
		background: #282222;
		box-shadow: 0px 2px 14px rgba(38, 28, 28, 0.36);
	}
	&__item,
	.catalog-sorting {
		.select__value,
		input {
			background: #1e1b1b;
		}
		.select._active {
			outline: 1px solid #ffffff;
		}
		input {
			color: #eae1e1;
		}
		.select__options {
			background: #1e1b1b;
		}
		.select__option {
			border-bottom-color: #100c0c;
		}
	}
	&__row {
		.line {
			color: #e4a90f;
		}
	}

	&__clear {
		color: #757581;
		&:hover {
			color: #eae1e1;
		}
	}
}
