.slider-scrollbar {
	background: #e8e8e8;
	.swiper-scrollbar-drag {
		background: #d2d1d1;
	}
}

.feedbacks-item {
	background: #ffffff;
	color: #100c0c;
	&__header {
		border-bottom: 1px solid #e3e3e3;
	}
	&__title {
		h4 {
			color: #c6251a;
		}
	}
	&__link {
		color: #e4a90f;
	}
	&__photo {
		background: #f0f0f0;
		path,
		ellipse {
			fill: #757581;
		}
	}
}
