.btn {
	display: inline-flex;
	padding: 20px 50px;
	border-radius: 8px;
	font-family: 'Balsamiq Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	overflow: hidden;
	position: relative;
	&::after {
		content: '';
		height: 155px;
		left: -75px;
		opacity: 0.2;
		position: absolute;
		top: -50px;
		transform: rotate(35deg);
		transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
		width: 50px;
	}
	&:hover {
		&::after {
			left: 120%;
			transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
	&:active {
		transform: scale(0.95);
	}
}

.up-btn {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5 ease;
	z-index: 99;
	&::after {
		content: '';
		display: block;
		width: 30px;
		height: 30px;
		background: url('../img/icons/arrow_top.svg') center center / contain no-repeat;
	}
}

@include media-mobile {
	.btn {
		font-size: 14px;
		padding: 16px 40px;
	}
	.up-btn {
		bottom: 20px;
		right: 20px;
	}
}
