.footer {
	background: #ffffff;
	color: #100c0c;
}
.footer-author span {
	color: #100c0c;
}

.footer-bottom {
	border-top: 1px solid #e3e3e3;
}

.footer-author {
	svg {
		._w {
			fill: #100c0c;
		}
	}
}
