.footer {
	margin-top: 70px;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__btn {
		font-family: 'Balsamiq Sans', sans-serif;
		padding: 16px 40px;
		border-radius: 8px;
		transition: all 0.5s ease;
		font-weight: 700;
		font-size: 14px;
		font-style: normal;
		line-height: 17px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}
}
.footer-top {
	padding: 65px 0 28px 0;
	.container {
		gap: 100px;
		align-items: stretch;
	}
	&__content {
		padding-top: 10px;
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		flex-wrap: wrap;
	}
}
.footer-logo {
	flex: 0 0 270px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	img {
		max-width: 175px;
		width: 100%;
		height: auto;
	}
	span {
		margin-top: 15px;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		opacity: 0.5;
	}
}
.footer-menu {
	flex: 1 1 auto;
	margin-bottom: 20px;
	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		gap: 10px 25px;
		li {
			position: relative;
			transition: all 0.5s ease;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: linear-gradient(180deg, #ef544a 7.81%, #c6251a 42.19%, #c6251a 42.2%);
				opacity: 0;
			}
			a {
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				&.icon {
					position: relative;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					&::before {
						content: '';
						display: inline-flex;
						width: 16px;
						height: 16px;
						flex: 0 0 16px;
						margin-right: 4px;
					}
					&-cup {
						&::before {
							background: url('../img/icons/cup.svg') center center / contain no-repeat;
						}
					}
				}
			}
			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
	}
}
.footer-tel {
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	&:hover {
		text-decoration: underline;
	}
}

.footer-bottom {
	padding: 15px 0;
	.container {
		gap: 20px 100px;
	}
	&__column {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__copy,
	&__policy {
		margin: 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		opacity: 0.3;
	}
	&__policy {
		text-decoration: underline;
		&:hover {
			opacity: 0.5;
		}
	}
}

.footer-theme {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
	.switcher__item {
		input {
			width: 0;
			height: 0;
			opacity: 0;
			&:checked + label {
				opacity: 0.7;
			}
		}
		label {
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			opacity: 0.3;
			background: transparent;
			transition: all 0.5s ease;
			&:hover {
				opacity: 0.5;
			}
		}
	}
}

.footer-author {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 14px;
	span {
		font-size: 14px;
		line-height: 17px;
		color: #eae1e1;
		opacity: 0.3;
	}
	svg {
		width: 116px;
		height: auto;
		._w {
			fill: #eae1e1;
		}
	}
}

@include media-tablet-horizontal {
	.footer-top {
		.container {
			gap: 0px;
		}
	}
	.footer-logo {
		flex: 0 0 150px;
		img {
			max-width: 100px;
		}
	}
	.footer-bottom {
		padding: 20px 0;
		.container {
			gap: 20px 25px;
		}
	}
}
@include media-tablet {
	.footer-top {
		padding: 60px 0 35px 0;
		.container {
			gap: 0px;
		}
		&__content {
			padding-top: 0;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			align-content: flex-end;
			gap: 25px;
		}
	}
	.footer-logo {
		flex: 0 0 170px;
		justify-content: center;
		align-items: center;
		img {
			max-width: 170px;
			width: 100%;
		}
	}
	.footer-menu {
		display: none;
	}
	.footer-bottom {
		padding: 20px 0;
		.container {
			flex-wrap: wrap;
			gap: 15px 30px;
		}
		&__column {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
			&:last-child {
				align-items: flex-end;
			}
		}
	}
}
@include media-mobile-horizontal {
	.footer {
		margin-top: 40px;
	}
	.footer-top {
		padding: 60px 0 40px 0;
		.container {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 45px;
		}
		&__content {
			gap: 20px;
			justify-content: center;
			align-items: center;
			align-content: center;
		}
	}
	.footer-tel {
		font-size: 28px;
		line-height: 34px;
	}
	.footer-logo {
		flex: 1 1 auto;
		width: 100%;
		justify-content: center;
		align-items: center;
		img {
			max-width: 170px;
			width: 100%;
		}
		span {
			display: block;
			text-align: center;
			width: 100%;
		}
	}
	.footer-bottom {
		padding: 20px 0;
		.container {
			flex-wrap: wrap;
			gap: 15px 30px;
		}
		&__column {
			align-items: center;
			gap: 15px;
			&:last-child {
				align-items: center;
			}
		}
	}
}
@include media-mobile {
}
