.popup {
	&::before {
		background: rgba(16, 12, 12, 0.3);
	}
	&__body {
		background: #f8f8f8;
		color: #100c0c;
	}

	&__close {
		&::after,
		&::before {
			background: #757581;
		}
		&:hover,
		&:focus-visible {
			&::after,
			&::before {
				background: #e4a90f;
			}
		}
	}
}

.form {
	&__item {
		input,
		textarea {
			background: #ebebeb;
			color: #100c0c;
			&::placeholder {
				color: rgba(#100c0c, 0.5);
			}
		}
	}
}
.form-checkbox {
	label {
		a {
			&:hover {
				color: #000;
			}
		}
	}
}
