section.product-main(style="background: url('assets/img/uploads/product-main.jpg') center center / cover no-repeat;")
  .container
    .product-main__content
      .product-main__header
        h1 Заброшенный театр кукол
        p.subtitle Говорят, что в этом заброшенном театре кукол происходят по-настоящему странные вещи
      .product-main-detalis
        .product-main-detalis__item
          p.subtitle Жанр
          p.name._icon-genre
            span Хоррор
        .product-main-detalis__item
          p.subtitle Игроков
          p.name._icon-users
            span 2-8 ч
        .product-main-detalis__item
          p.subtitle Время
          p.name._icon-time
            span 60-70 м
        .product-main-detalis__item
          p.subtitle Возраст
          p.name._icon-user
            span 14+

    .product-main-raiting(data-da=".product-main__content, 1023, last")
      .product-main-raiting__header
        p.product-main-raiting__subtitle Народный рейтинг:
        .product-main-raiting__number
          span 9,9
          span / 10

      .product-main-raiting__content
        p Количество отзывов: 39 шт
        .product-main-raiting__table
          .product-main-raiting__item
            ._icon
              span 5
            ._progress
              ._line(style="width: 100%")
            ._number 26
          .product-main-raiting__item
            ._icon
              span 4
            ._progress
              ._line(style="width: 40%")
            ._number 10
          .product-main-raiting__item
            ._icon
              span 3
            ._progress
              ._line(style="width: 10%")
            ._number 3
          .product-main-raiting__item
            ._icon
              span 2
            ._progress
              ._line(style="width: 0%")
            ._number 0
          .product-main-raiting__item
            ._icon
              span 1
            ._progress
              ._line(style="width: 0%")
            ._number 0
