section.product-navbar
  .container
    button.product-navbar__item Описание
    button.product-navbar__item Фото / видео
    button.product-navbar__item Цены
    button.product-navbar__item Отзывы <sup>(3)</sup>
