section.product-description
  h2 Описание
  p Говорят, что в этом заброшенном театре кукол происходят по-настоящему странные вещи. После смерти владельцев всё пришло в запущение, театр был забыт и заброшен.Приёмный сын бывших владельцев оказался не таким уж добрым и миролюбивым человеком. Странный, агрессивный, нелюдимый… Его раздражал любой человек, появлявшийся в стенах театра, и он этого не скрывал.
