section.product-gallary
  h2 Фото / видео
  .product-gallary__slider#slider-gallary
    .swiper-wrapper
      .swiper-slide
        .product-gallary__item
          img(src="assets/img/uploads/product-slider.jpg", alt="")
      .swiper-slide
        .product-gallary__item
          iframe(width="1280" height="720" src="https://www.youtube.com/embed/8riym07iXGk" title="Квест Иркутск 'Цитадель' - Нарезка с шокерами." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share")
    button.product-gallary__btn.product-gallary__btn--prev
    button.product-gallary__btn.product-gallary__btn--next
    .slider-scrollbar
