section.product-prices
  h2 Цены
  .product-prices__content
    p 2 900 ₽ — минимальная стоимость за группу в составе от 2 до 5 человек.
    p 500 ₽ — средняя доплата за каждого человека сверх группы.
    p 10 чел. — максимальное количество человек в группе с учётом доплаты.
  .product-prices__table
    .product-prices__item
      h3 Будни
      p c 09:00 до 12:30 — 2 900 ₽
      p c 12:30 до 23:00 — 3 900 ₽
      p c 23:00 до 03:00 — 4 900 ₽
    .product-prices__item
      h3 Выходные
      p c 09:00 до 12:30 — 3 900 ₽
      p c 12:30 до 23:00 — 4 900 ₽
      p c 23:00 до 03:00 — 5 900 ₽
  .product-prices__info <span>*</span> Оплата наличными в месте оказания услуги
