section.product-feedbacks
  h2 Отзывы
  .product-feedbacks__item.product-feedback
    .product-feedback__header
      .product-feedback__user
        .product-feedback__photo
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="25" cy="16.9998" rx="5.33333" ry="5.33333" />
            <path d="M35.6666 32.3335C35.6666 35.6472 35.6666 38.3335 25 38.3335C14.3333 38.3335 14.3333 35.6472 14.3333 32.3335C14.3333 29.0198 19.1089 26.3335 25 26.3335C30.891 26.3335 35.6666 29.0198 35.6666 32.3335Z"/>
          </svg>
        .product-feedback__info
          h3 Алла П. (гуру)
          p 14 дней назад
      .product-feedback__raiting._icon-cup
        span 9,9 из 10
    .product-feedback__content
      p Было очень интересно и страшно. Один из самых страшных квестов которые мы посещали в Иркутске. Правда мы прошли квест за 60 минут, но это не критично. Пугают очень резко и неожиданно. Вобщем, квест классный, всем советую.
  .product-feedbacks__item.product-feedback
    .product-feedback__header
      .product-feedback__user
        .product-feedback__photo
          img(src="assets/img/uploads/photo-1.jpg", alt="")
        .product-feedback__info
          h3 Алла П. (гуру)
          p 14 дней назад
      .product-feedback__raiting._icon-cup
        span 9,9 из 10
    .product-feedback__content
      p Было очень интересно и страшно. Один из самых страшных квестов которые мы посещали в Иркутске. Правда мы прошли квест за 60 минут, но это не критично. Пугают очень резко и неожиданно. Вобщем, квест классный, всем советую.

  button.btn.btn-outline Добавить отзыв
