section.product-feedbacks
  h2 Отзывы
  .product-feedbacks__item.product-feedback
    .product-feedback__header
      .product-feedback__user
        .product-feedback__photo
          img(src="assets/img/icons/avatar-default.svg", alt="")
        .product-feedback__info
          h3 Алла П. (гуру)
          p 14 дней назад
      .product-feedback__raiting._icon-cup
        span 9,9 из 10
    .product-feedback__content
      p Было очень интересно и страшно. Один из самых страшных квестов которые мы посещали в Иркутске. Правда мы прошли квест за 60 минут, но это не критично. Пугают очень резко и неожиданно. Вобщем, квест классный, всем советую.
  .product-feedbacks__item.product-feedback
    .product-feedback__header
      .product-feedback__user
        .product-feedback__photo
          img(src="assets/img/uploads/photo-1.jpg", alt="")
        .product-feedback__info
          h3 Алла П. (гуру)
          p 14 дней назад
      .product-feedback__raiting._icon-cup
        span 9,9 из 10
    .product-feedback__content
      p Было очень интересно и страшно. Один из самых страшных квестов которые мы посещали в Иркутске. Правда мы прошли квест за 60 минут, но это не критично. Пугают очень резко и неожиданно. Вобщем, квест классный, всем советую.

  button.btn.btn-outline Добавить отзыв
