aside.product-contacts
  h2 Контакты
  a.product-contacts__phone(href="tel:+73952931820") +7 (3952) 93-18-20
  .product-contacts__item
    p г. Иркутск, ул. Советская, 176Б
    button(data-popup="#ViewMapPopup" data-product="Заброшенный театр кукол" data-address="Иркутск, ул. Фридриха Энгельса, 70, эт. 3, оф. 35") Посмотреть на карте
  .product-contacts__item
    p Авторы квеста
    a(href="#" target="_blank") Перейти на сайт
  button.btn(data-popup="popupOrder") Бронировать игру
